Meta_App_Factory_OLD/n8n_workflow_schema.json
{
    "name": "Claude Code Executor",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "claude-exec",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-trigger"
        },
        {
            "parameters": {
                "command": "=claude -p \"{{$json[\"body\"][\"task\"]}}\""
            },
            "name": "Execute Command",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "execute-claude"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{$json}}"
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "webhook-response"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Execute Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Command": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}